

main .buy {
	background-color: #7fcae9;
}

.buy inner-column {
	max-width: 800px;
}

buy-it {
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-items: center;
	padding: 20px;
	gap: 1rem;
}

text-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

text-content p {
	text-align: center;
	font-size: 1.2rem;
}

@media (min-width: 640px) {
	buy-it {
		justify-content: space-between;
		gap: 2rem;
	}

	text-content {
		flex-direction: row;
		justify-content: space-between;
		gap: 4rem;
	}
}

.cred {
	max-width: 100px;
}

.buy-button {
	border: solid #224b85 2px;
	font-size: 1.1rem;
	color: #224b85;
	border-radius: 12px;
	padding: 8px 15px;
}

.buy-button:hover {
	background-color: #224b85;
	color: #7fcae9;
	border: solid #224b85 2px;
}