

main .buy {
	background-color: #7fcae9;
}

.buy inner-column {
	max-width: 800px;
}

buy-it {
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-items: center;
	padding: 20px;
	gap: 20px;
}

text-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1rem;
}

text-content p {
	font-size: 1.2rem;
}

@media (min-width: 605px) {
	buy-it {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
		gap: 0;
	}
}

.cred {
	max-width: 100px;
}

.buy-button {
	border: solid #224b85 2px;
	font-size: 1.1rem;
	color: #224b85;
	border-radius: 12px;
	padding: 8px 15px;
}

.buy-button:hover {
	background-color: #224b85;
	color: #7fcae9;
	border: solid #224b85 2px;
}