/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
@import 'developer-styles.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';
@import 'header.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}

section inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

picture {
	margin-top: 1rem;
}

/*INSTRUCTIONS PAGE*/

.supporting-image {
	max-width: 400px;
	margin-top: 1rem;
}

.instructions section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.special-title {
	font-size: 1.4rem;
	text-transform: capitalize;
	margin-top: 1rem;
}

.tip {
	display: inline-block;
	margin: 2rem 0;
	border: 1px solid var(--ink);
	border-radius: 25px;
	padding: 1rem;
}

.tip h4 {
	font-size: 1.3rem;
	font-weight: 800;
}

.instructions p {
	text-align: center;
}



/* Store style */


board-game {
	display: grid;
	grid-template-rows: 50px 1fr;
	align-items: center;
	justify-items: center;
	padding: 20px;
	gap: 20px;
}





/* HEADER */

header {
	background-color: white;
	padding: 20px;
}

header nav {
	display: grid;
	grid-template-rows: 1fr 16px;
	gap: 10px;
}

@media(min-width: 500px) {
	header nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
	}
}

@media(min-width: 675px) {
	header nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: none;
	}
}

header picture {
	display: flex;
	justify-content: center;
}

@media(min-width: 500px) {
	header picture {
		display: flex;
		justify-content: flex-start;
	}
}

header picture img {
	max-width: 100px;
}

header nav ul {
	display: flex;
	justify-content: center;
	margin: 0;
}

@media(min-width: 500px) {
	header nav ul {
		display: flex;
		align-items: center;
		padding: 0 20px;

	}
}

header nav ul li a {
	color: #4498d4;
}

header nav ul li a:hover {
	color: #224b85;
}





/* FOOTER */

footer {
	background-color: white;
	padding: 20px;
}

footer nav {
	display: grid;
	grid-template-rows: 1fr 16px;
	gap: 10px;
}

@media(min-width: 500px) {
	footer nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
	}
}

@media(min-width: 675px) {
	footer nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: none;
	}
}

footer picture {
	display: flex;
	justify-content: center;
}

@media(min-width: 500px) {
	footer picture {
		display: flex;
		justify-content: flex-start;
	}
}

footer picture img {
	max-width: 100px;
}

footer nav ul {
	display: flex;
	justify-content: center;
	margin: 0;
	gap:  3rem;
}

@media(min-width: 500px) {
	footer nav ul {
		display: flex;
		align-items: center;
		padding: 0 20px;

	}
}

footer nav ul li a {
	color: #4498d4;
}

footer nav ul li a:hover {
	color: #224b85;
}












