/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
@import 'developer-styles.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';
@import 'header.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}

.supporting-image {
	max-width: 400px;
}

.special-card {
	font-size: 1.4rem;
	text-transform: capitalize;
	margin-top: 1rem;
}

.tip {
	display: inline-block;
	margin-top: 2rem;
	border: 1px solid var(--ink);
	border-radius: 25px;
	padding: 1rem;
}