

main .learn {
	background-color: #dd7876;
}

.learn inner-column {
	max-width: 800px;
}

see-instructions {
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-items: center;
	padding: 20px;
	gap: 1rem;
}

.learn text-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

text-content p {
	font-size: 1.2rem;
}

@media (min-width: 605px) {
	see-instructions {
		justify-content: space-between;
		gap: 2rem;
	}

	.learn text-content {
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 4rem;
	}
}

.cred {
	max-width: 100px;
}

.learn-button {
	border: solid #224b85 2px;
	font-size: 1.1rem;
	color: #224b85;
	border-radius: 12px;
	padding: 8px 15px;
}

.learn-button:hover {
	background-color: #224b85;
	color: #7fcae9;
	border: solid #224b85 2px;
}